<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnError="false"
         stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" bootstrap="vendor/autoload.php"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnAllIssues="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
            <html outputDirectory="coverage-report"/>
        </report>
    </coverage>
</phpunit>
